*{
   margin: 0;
   padding: 0;
}
header{
    height: 60px;
    width: 100%;
    background-color: #F0ECE3;
    padding: 35px;
    text-align: center;
   
}
h1{
  font-weight: 700; 
  font-size: 4rem; 
  color: #4D3E3E;
}
.takeinpt{
    direction: rtl;
}
.grid-container{
    margin-left: 640px;
    display: grid;
    height: 500px;
    width: 300px;
    border: 4px solid;
}
.grid-item1{
    grid-row: 1;
    grid-column: 1/2;
    
}
.grid-item2{
    grid-row: 1;
    grid-column: 2/3;
    
}
.grid-item3{
    grid-row: 1;
    grid-column: 3/4;
    
}
.grid-item4{
    grid-row: 1;
    grid-column: 4/5;
    
}
.grid-item19{
    grid-row: 2;
    grid-column: 4/5;
    
}
.grid-item18{
    grid-row: 3;
    grid-column: 4/5;
    
}
.grid-item17{
    grid-row: 4;
    grid-column: 4/5;
    
}
.grid-item16{
    grid-row: 5;
    grid-column: 4/5;
    
}
