* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fab1a0;
}

.container {
    width: 500px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
    background-color: rgb(240, 237, 232);
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
}

h3 {
    padding: 10px 10px;
    margin-bottom: 5px;
}

#text {
    height: 100px;
    width: 100%;
    padding: 3px 3px;
    line-height: normal;
}

img {
    height: 150px;
    width: 150px;
    margin: 30px;
    border-radius: 60px;
}

button {
    margin-top: 10px;
    height: 30px;
    width: 160px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
}

button:hover {
    background-color: lightslategray;
}