<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE UPLOADS Document</title>
</head>
<body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="profileImage">
        <input type="file" name="img">
        <button type="submit">Upload</button>
    </form>
</body>
</html>